<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01.Hello iOS</key>
	<array>
		<string>Hello iOS|Hello</string>
	</array>
	<key>02.Syntax</key>
	<array>
		<string>1.基础|OcBasic</string>
		<string>2.继承|OcInherit</string>
		<string>3.strong 和 weak|StrongWeak</string>
		<string>4.copy|Copy</string>
	</array>
	<key>03.Basics</key>
	<array>
		<string>1.Struct|Struct</string>
		<string>2.Enum|Enum</string>
		<string>3.String|String</string>
		<string>4.Date|Date</string>
		<string>5.Value Type|ValueType</string>
		<string>6.Array|Array</string>
		<string>7.Set|Set</string>
		<string>8.Dictionary|Dictionary</string>
	</array>
	<key>04.Advanced</key>
	<array>
		<string>1.Protocol(DataSource)|ProtocolDataSource</string>
		<string>2.Protocol(Delegate)|ProtocolDelegate</string>
		<string>3.SEL|SEL</string>
		<string>4.Block|Block</string>
		<string>5.NotificationCenter|NotificationCenter</string>
		<string>6.KVC KVO|KvcKvo</string>
	</array>
	<key>05.Control</key>
	<array>
		<string>UIActionSheet|ActionSheet</string>
		<string>UICollectionView|CollectionView</string>
		<string>UILabel|Label</string>
		<string>UIButton|Button</string>
		<string>UITextField|TextField</string>
		<string>UITextView|TextView</string>
		<string>UISegmentedControl|SegmentedControl</string>
		<string>UISwitch|Switch</string>
		<string>UIProgressView|ProgressView</string>
		<string>UIActivityIndicatorView|ActivityIndicatorView</string>
		<string>UIStepper|Stepper</string>
		<string>UIScrollView|ScrollView</string>
		<string>UIImageView|ImageView</string>
		<string>UIWebView|WebView</string>
		<string>UIPageControl|PageControl</string>
		<string>UISlider|Slider</string>
		<string>UIAlertView|AlertView</string>
		<string>UIDatePicker|DatePicker</string>
		<string>UIPickerView|PickerView</string>
		<string>UISearchBar|SearchBar</string>
		<string>UIToolbar|Toolbar</string>
	</array>
	<key>06.TableView</key>
	<array>
		<string>显示列表数据（多种内置样式）|TableView1</string>
		<string>显示列表数据（定义样式和行为）|TableView2</string>
		<string>自定义单元格样式|TableView3</string>
		<string>分组显示|TableView4</string>
		<string>行右侧扩展按钮|TableView5</string>
		<string>行的上下文菜单|TableView6</string>
		<string>滑动删除|TableView7</string>
		<string>编辑行（删除，新增，批量删除）|TableView8</string>
		<string>拖动行|TableView9</string>
		<string>下拉刷新|TableView10</string>
	</array>
	<key>07.Controller</key>
	<array>
		<string>UIActivityViewController|ActivityViewController</string>
		<string>UINavigationController|NavigationController</string>
		<string>UITabBarController|TabBarController</string>
		<string>UISearchDisplayController|SearchDisplayController</string>
		<string>UIPageViewController|PageViewController</string>
	</array>
	<key>08.ControlBasic</key>
	<array>
		<string>控件基础: bounds, frame, center|ControlBasic</string>
		<string>UIControlEvent(target/action)|ControlEvent</string>
		<string>遍历一个 UIView 的层级结构|ControlDump</string>
	</array>
	<key>09.Input</key>
	<array>
		<string>触摸|Touch</string>
		<string>响应者链|ResponderChain</string>
		<string>键盘|Keyboard</string>
		<string>手势|Gesture</string>
	</array>
	<key>10.Localization</key>
	<array>
		<string>本地化的准备工作|LocalizationReady</string>
		<string>Icon Title 的本地化|LocalizationIconTitle</string>
		<string>文字本地化|LocalizationText</string>
		<string>图片本地化|LocalizationImage</string>
		<string>获取语言信息，设置当前语言|LocalizationDemo</string>
	</array>
	<key>11.Thread</key>
	<array>
		<string>GCD 私有队列|GcdPrivateQueue</string>
		<string>GCD 主队列和全局队列|GcdMainQueueAndGlobalQueue</string>
		<string>GCD 分组队列|GcdGroupQueue</string>
		<string>GCD Timer|GcdTimer</string>
		<string>GCD 各种 dispatch 函数|GcdDispatchFunction</string>
		<string>NSThread|ThreadDemo</string>
		<string>NSTimer|TimerDemo</string>
		<string>NSLock|ThreadLock</string>
		<string>NSConditionLock, NScondition|ThreadCondition</string>
		<string>NSOperation, NSOperationQueue|OperationDemo</string>
	</array>
	<key>12.UI</key>
	<array>
		<string>分辨率的获取和适应|Resolution</string>
		<string>屏幕旋转|ScreenRotate</string>
		<string>字体样式|FontStyle</string>
		<string>状态栏|StatusBar</string>
	</array>
	<key>13.Graphics</key>
	<array>
		<string>UIColor|Color</string>
		<string>绘制文本|DrawString</string>
		<string>绘制图像，图像九宫格|DrawImage</string>
		<string>Core Graphics 基础|DrawBasic</string>
		<string>绘制各种形状|DrawShape</string>
		<string>填充, 渐变, 阴影|DrawFill</string>
		<string>剪切图片|Clip</string>
		<string>Transform|DrawTransform</string>
	</array>
	<key>14.Animation</key>
	<array>
		<string>动画效果|AnimationDemo</string>
		<string>过渡效果|TransitionDemo</string>
		<string>插帧动画|KeyframeAnimation</string>
		<string>系统动画|SystemAnimation</string>
	</array>
	<key>15.Communication</key>
	<array>
		<string>1.Json|Json</string>
		<string>2.Xml|Xml</string>
		<string>3.Http|Http</string>
		<string>4.Download|Download</string>
	</array>
	<key>16.Memory</key>
	<array>
		<string>Autoreleasepool|Autoreleasepool</string>
	</array>
</dict>
</plist>
